.page-container {
  height: 100%;
  background: #F3F3E6;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.page-container a {
  color: inherit;
  text-decoration: none;
}
.page-container header {
  background: #3ac43a;
  color: #fff;
  padding: 18px 24px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.page-container header .menu-button {
  margin-right: 24px;
  min-width: 0;
  padding: 0;
  line-height: normal;
  background-color: #3AC43A;
  border: none;
}
.page-container header .app-title {
  padding: 0 3px;
}
.sidenav-container {
  background-color: #F3F3E6;
  flex: 1;
}
.sidenav-container .sidenav {
  min-width: 80%;
  color:#3ac43a;
}
.sidenav-container .sidenav a {
  display: block;
  padding: 6px 24px;
  width: 100%;
  text-align: left;
}
.sidenav-container main {
  padding: 18px 24px;
}

.logo-nav img {
  width: 110px;
  height: 50px;
  margin-left: 5%;
}

.app-title {
  color: #ffffff;
  font-size: large;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.mat-mdc-standard-chip {
  --mdc-chip-label-text-color: #fff;
  --mdc-chip-elevated-container-color: #3ac43a;
}

.botonAppSolo{
  height: 40px;
  width: 80%;
  background-color: #3AC43A;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow:inset 2px 2px 2px 2px #1F7E1E;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h2{
  font-size: 0.75em;
  color: #006400;
  text-align: center;
}

::ng-deep .ngx-charts {
      fill: #3AC43A!important;
}

#btn_volver{
  background-color: #3AC43A;
  color: white;
  box-shadow:inset 2px 2px 2px 2px #1F7E1E;
}

[type=button]{
  height: 40px;
  width: 30%;
  border-radius: 10px;
  border: none;
  font-size: 0.75em;
  font-weight: bold;
}

#buttons{
  text-align: center;
}

* {
  font-family: "Perpetua Titling MT", serif;
 }

 .material-icons{
  font-family: 'Material Icons' !important;
}
