h1{
  text-align: center;
  color: #3AC43A;
  font-size: 2em;
  padding-top: 10%;
}

h2{
  text-align: center;
  color: #3AC43A;
  font-size: 1.5em;
  padding-top: 5%;

}

* {
 font-family: "Perpetua Titling MT", serif;
 background-color: #F3F3E6;
}

img{
  height: fit-content;
}

p{
  color: #3AC43A;
  margin-bottom: 0px;
}

#buttons{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 10%;
}

button{
  height: 45px;
  width: 70%;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
}

#btn_volver{
  background-color: white;
  color: #3AC43A;
}

#btn_confirmar{
  background-color: #3AC43A;
  color: white;
}

.material-icons{
  font-family: 'Material Icons' !important;
}

mat-icon {
  font-size: 100px;
  height: 150px;
  width: 100px;
  color: #3AC43A;
  margin-left: 50%;
}

p{
  font-size: 1em;
}
