<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile [colspan]="3 " [rowspan]="1">
    <div class="logo-nav">
      <img src="./assets/img/LogoApp.png">
      <div class="app-title">Health Life Alarm</div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="4">
    <div class="right_panel"></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="3" class="mat-elevation-z8">
    <mat-nav-list class="sidenav mat-elevation-z8">
      <h3>Menú principal</h3>
      <button mat-button [routerLink]="'/mis_habitos'"><mat-icon>home</mat-icon>Home</button>
      <button mat-button [routerLink]="'/mis_habitos'"><mat-icon>fitness_center</mat-icon>Mis Hábitos</button>
      <button mat-button [routerLink]="'/mi_progreso'"><mat-icon>bar_chart</mat-icon>Mi Progreso</button>
      <button mat-button [routerLink]="'/estadisticas'"><mat-icon>pie_chart</mat-icon>Estadisticas</button>
      <button mat-button [routerLink]="'/actualizar_datos'"><mat-icon>manage_accounts</mat-icon>Actualizar Datos</button>
      <button mat-button [routerLink]="'/eliminar_cuenta'"><mat-icon>delete_forever</mat-icon>Eliminar Cuenta</button>
      <button mat-button [routerLink]="''"><mat-icon>exit_to_app</mat-icon>Cerrar Sesión</button>
    </mat-nav-list>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3" class="mat-elevation-z8">
    <div class="main_content">
      <div class="header_icon">
        <h1>Mi progreso</h1>
        <mat-icon>bar_chart</mat-icon>
      </div>
      <div class="content">
        <div class="container">
          <div class="box"><mat-spinner mode="determinate" value="40"></mat-spinner></div>
          <div class="box overlay"><mat-icon class="mat-icon-size">self_improvement</mat-icon></div>
        </div>
        <div class="container">
          <div class="box"><mat-spinner mode="determinate" value="50"></mat-spinner></div>
          <div class="box overlay"><mat-icon class="mat-icon-size">fitness_center</mat-icon></div>
        </div>
        <div class="container">
          <div class="box"><mat-spinner mode="determinate" value="76"></mat-spinner></div>
          <div class="box overlay"><mat-icon class="mat-icon-size">local_library</mat-icon></div>
        </div>
      </div>
      <div class="content">
        <div class="container_text">40% Meditación</div>
        <div class="container_text">50% Ejercicio</div>
        <div class="container_text">76% Lecturas</div>
      </div>
      <br>
      <div class="content">Ha alcanzado un total de <strong>72</strong> alarmas para mejorar sus hábitos</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

