h1{
  text-align: center;
  color: #3AC43A;
  font-size: 2em;
  padding-top: 5%;
}

* {
 font-family: "Perpetua Titling MT", serif;
 background-color: #F3F3E6;
}

img{
  height: fit-content;
}

#textfield{
  text-align: left;
  padding-left: 34%;
}

label{
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 0.75em;
}

input{
  border: none;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  width: 50%;
  font-size: 0.75em;
}

p{
  color: #3AC43A;
}

#buttons{
  margin-top: 5%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;

}

button{
  height: 50px;
  width: 80%;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
}

#btn_volver{
  background-color: white;
  color: #3AC43A;
}

#btn_confirmar{
  background-color: #3AC43A;
  color: white;
}

.material-icons{
  font-family: 'Material Icons' !important;
}

mat-icon {
  font-size: 100px;
  height: 100px;
  width: 100px;
  color: #3AC43A;
  margin-left: 40%;
}

.container-fluid{
  background: #D4CFB6;
}

